html
    head
        title="user profile for "+name 
    body
        #add
        .rem
            h1='Profile for '+name  
            h3=name+"'s cards:"
            ul
            each c in cards
                a(href="http://localhost:3000/cards/"+c.name)
                    li=c.name     
            p(id='check')=name
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js")
        script(src="/fp.js")            