html
    head
        title detail
    body    
        label="NAME:        "+card.name 
        br
        br
        label="Artist:      "+card.artist
        br
        br 
        label="Attacks:       "+card.attack
        br
        br
        label="Health:           "+card.health
        br
        br
        label="Class:         "+card.cardClass 
        br
        br
        label="Rarity:        "+card.rarity